<%= simple_form_for (@firm), :wrapper => 'bootstrap' do |f| %>

  <p class="inline"><%= f.label "Название фирмы" %>
  <%= f.text_field :name %></p>

  <div><%= f.label "Краткое описание фирмы" %>
  <%= f.text_area :short_description, rows: "5"%></div>


  <div><%= f.label "Описание фирмы" %>
  <%= f.text_area :description, rows: "10"%></div>

  

  <%= f.select :category_id, @categories%>


  <%= f.fields_for :phones do |phones_form| %>
    <li>
      
      <%= phones_form.select(:number_type, options_for_select(
                             phone_number_type_select_options, phones_form.object.number_type)) %>

      <%= phones_form.label :number %>
      <%= phones_form.text_field :number %>
      
    </li>

  <% end %>


  <%= f.fields_for :addresses , :wrapper => 'bootstrap'  do |address| %>
      <%= render 'address_fields', :f => address  %>
  <% end %>

<div>
  <%= link_to_add_association 'add address', f, :addresses, :render_options => {:wrapper => 'bootstrap' } %>
</div>

  <fieldset>
    <legend>Картинка фирмы</legend>
    <p>
      <%= image_tag(@firm.favatar_url) if @firm.favatar? %>
      <% unless @firm.new_record? %>
        <%= f.check_box :remove_favatar %>
        <%= f.label :remove_favatar, "remove favatar" %>
      <% end %>
    </p>
    <p>
      <%= f.label :favatar, "Загрузить картинку:" %><br />
      <%= f.file_field :favatar %>
      <%= f.hidden_field :favatar_cache %>
    </p>

  </fieldset>

  <div><%= f.submit "Сохранить фирму", class: "btn btn-large btn-primary" %></div>

<% end %>