<%= form_for(@firm) do |f| %>

  <p><%= f.label "Название фирмы" %>
  <%= f.text_field :name %></p>

  <div><%= f.label "Описание фирмы" %>
  <%= f.text_area :description, rows: "10"%></div>

  <%= f.collection_select :category_id, Category.all, :id, :name %>

  <div><%= f.submit "Сохранить фирму", class: "btn btn-large btn-primary" %></div>

<% end %>