<p>
  <h3><%= @firm.name %></h3>
</p>

<p>
  <%= @firm.description %>
</p>

<%= image_tag(@firm.favatar_url) if @firm.favatar_url %>

<%= link_to 'Edit', edit_firm_path %> |
<%= link_to 'Back', category_firms_path %>