<div class="category <%= category.id %>">

  <div class="panel clearfix">


    <% if category.depth >= 1 %>
      <h3><%= link_to category.name, category_path(category) %><br/></h3>
    <% else %>
      <h3><%= category.name %><br/></h3>
    <% end %>


    <% if category.depth < 1 %>
    <%= link_to "Новая подкатегория", new_category_path(:parent_id => category.id), class: "radius secondary button" %>
    <% end %>


    <%= link_to 'edit',  edit_category_path(category), class: "button"%>
    <%= link_to "delete", category_path(category), method: :delete,
                                           data: { confirm: "You sure?" },
                                           class: "alert button"%>
  </div>

</div>