<% @firms.each do |firm| %>
  <div class="well well-small clearfix">

    <h3><%= link_to firm.name, category_firm_path(@category, firm) %><br/></h3>

    <small class="clearfix"><%= firm.description  %></small>

    <small class=""><%= firm.user_id  %></small><br/><br/>
    <small class=""><%= firm.category_id  %></small>
    

    <% if user_signed_in? %>
      <% if current_user?(firm.user) || current_user.admin? %>
        <div class="btn-group pull-right a_indent-top5px">
          <%= link_to 'edit',  edit_category_firm_path(@category, firm), class: "btn"%>
          <%= link_to "delete", edit_category_firm_path(@category, firm), method: :delete,
                                      data: { confirm: "You sure?" },
                                      class: "btn btn-danger"%>
        </div>
      <% end %>
    <% end %>


  </div>
  
<% end %>