<header>
  <div class="row2">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
            <%= link_to "Каталог фирм", root_path, id: "logo", class: "name" %>
          </h1>
        </li>
        
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li><%= link_to '+ Добавить фирму', new_firm_path %></li>
          <li class="divider show-for-medium-and-up"></li>
          <% if user_signed_in? %>
            <li class="has-dropdown">
              <a href="#"><%= current_user.username %></a>
              <ul class="dropdown">
                <li><%= link_to t('Edit_profile'), edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to t("Logout"), destroy_user_session_path, method: :delete %>
                </ul>
            </li>


          <% else %>
            <li><%= link_to t("Sign_up"), new_user_registration_path %></li>
            <li><%= link_to t("Sign_in"), new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
</div>
</header>