<header class="heder navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    <%= link_to "Каталог фирм", root_path, id: "logo", class: "brand" %>
    
      <div id="user_nav" class="nav pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.username %></strong>.
          <%= link_to 'Создать фирму', new_category_firm_path %>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t("Sign up"), new_user_registration_path %> |
          <%= link_to t("Login"), new_user_session_path %>
        <% end %>
      </div>

    </div>
  </div>
  
</header>
